.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 70vw;

}

.stat_col {
    background-color: rgb(155, 213, 232);
    font-size: larger;
}

.stat_col2 {
    background-color: rgb(200, 219, 250);
}

.registration {
    font-size: 24px;
}

.line {
    border: 1px solid rgb(155, 213, 232);
    width: 100%;
    position: absolute;
    right: 0;
}

.line-padding {
    padding-top: 5%;
}


.btn-cont{
    float: left;
    padding-left: 2%;
}

.btn-style{
    width: 60%;
    text-align: left;
}

.record-title{
   font-weight: bold;
    font-size: 17px;

}
.record-data{
    font-size: 17px;
}

.success-btns{
    width: 60%;
}